# scripts/stemmy.env
ONID="<your_onid>"

DATA_ROOT="/nfs/hpc/share/stemmy/data/musdb18hq"
DATA="/nfs/hpc/share/stemmy/data/musdb18hq"
RUNS_BASE="/nfs/hpc/share/${ONID}/stemmy/runs"
EVAL_DIR=/nfs/hpc/share/<your_onid>/stemmy/eval/baseline
CKPT_DIR=/nfs/hpc/share/<your_onid>/stemmy/runs/<your_run_dir>/best

INPUT_REL="test/Angels In Amplifiers - I'm Alright/mixture.wav"

EPOCHS="15"
LR="1e-4"
WEIGHT_DECAY="1e-6"
TIME_FRAMES="512"
BASE_CHANNELS="64"
LR_FACTOR="0.5"
LR_PATIENCE="10"
MIN_LR="1e-6"
SAVE_EVERY_EPOCHS="1"
WAVEFORM_NORM="peak"
DEVICE="cuda"

N_EVAL_TRACKS="50"
MAX_SECONDS="0"

NUM_WORKERS_MAX="24"
BATCH_SIZE_DEFAULT="4"

SEPARATE_OUT_BASE="runs/separated_cli"

WANDB_ENV="production"
WANDB_API_KEY="<your_wandb_api_key>"

# Add directory with libssl.so.1.1 to LD library path
LD_LIBRARY_PATH=/opt/nvidia/hpc_sdk/Linux_x86_64/24.11/profilers/Nsight_Systems/host-linux-x64${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}
